---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: tenants.cattage.cybozu.io
spec:
  group: cattage.cybozu.io
  names:
    kind: Tenant
    listKind: TenantList
    plural: tenants
    singular: tenant
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.health
      name: STATUS
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: Tenant is the Schema for the tenants API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TenantSpec defines the desired state of Tenant.
            properties:
              argocd:
                description: ArgoCD is the settings of Argo CD for this tenant.
                properties:
                  repositories:
                    description: Repositories contains list of repository URLs which
                      can be used by the tenant.
                    items:
                      type: string
                    type: array
                type: object
              controllerName:
                description: |-
                  ControllerName is the name of the application-controller that manages this tenant's applications.
                  If not specified, the default controller is used.
                type: string
              delegates:
                description: Delegates is a list of other tenants that are delegated
                  access to this tenant.
                items:
                  description: DelegateSpec defines a tenant that is delegated access
                    to a tenant.
                  properties:
                    name:
                      description: Name is the name of a delegated tenant.
                      type: string
                    roles:
                      description: Roles is a list of roles that the tenant has.
                      items:
                        type: string
                      minItems: 1
                      type: array
                  required:
                  - name
                  - roles
                  type: object
                type: array
              extraParams:
                description: ExtraParams is a map of extra parameters that can be
                  used in the templates.
                type: object
                x-kubernetes-preserve-unknown-fields: true
              rootNamespaces:
                description: RootNamespaces are the list of root namespaces that belong
                  to this tenant.
                items:
                  description: RootNamespaceSpec defines the desired state of Namespace.
                  properties:
                    annotations:
                      additionalProperties:
                        type: string
                      description: |-
                        Annotations are the annotations to add to the namespace.
                        This supersedes `namespace.commonAnnotations` in the configuration.
                      type: object
                    labels:
                      additionalProperties:
                        type: string
                      description: |-
                        Labels are the labels to add to the namespace.
                        This supersedes `namespace.commonLabels` in the configuration.
                      type: object
                    name:
                      description: Name is the name of namespace to be generated.
                      type: string
                  required:
                  - name
                  type: object
                minItems: 1
                type: array
            required:
            - rootNamespaces
            type: object
          status:
            description: TenantStatus defines the observed state of Tenant.
            properties:
              conditions:
                description: Conditions is an array of conditions.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              health:
                description: Health is the health of Tenant.
                enum:
                - Healthy
                - Unhealthy
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
