name: Renovate
on:
  schedule:
    - cron: '0 10 * * 1'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@248bf5a619694187930adc80b9343c37761c173f # renovate v43.0.1
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_TOKEN_PUBLIC }}
